{extends 'dns42/base.html'}
{block body}
<p>{trans 'Welcome text here'}</p>
<h2>Changelog 10 sep 2020</h2>
<p>We are still alive!</p>
<ul>
	<li>Added reverse zones. Yes, the current "advanced" editor is a pain to add a reverse IPv6, working on a more easy reverse editor. Reverse zones work for both ipv4 and ipv6 in the range 172.20.0.0/14 and fd::/8.</p>
	<li>Please report bugs to apt [AT] gatuno [DOT] mx . Thanks</li>
</ul>
<h2>Changelog 15 jun 2020</h2>
<ul>
	<li>Improved script background service to do a better handling on errors.</li>
	<li>Added option to delete zones.</li>
</ul>
{/block}
