<h3>{trans 'Terms and conditions of use'}</h3>
<p><strong>{trans 'About your email'}</strong></p>
<p>{trans 'We may use your email for password recovery purpose. We use your email to display a gravatar from gravatar.com'}</p>
<p><strong>{trans 'About your other personal info'}</strong></p>
<p>{trans "We don't share any of your personal data with anybody. It is used only for display purposes."}</p>
<p><strong>{trans 'About our service'}</strong></p>
<p>{blocktrans}This is a free DNS service, exclusive for the DN42 network. Any service abuse will provoke an account suspension.{/blocktrans}</p>
