{extends 'dns42/base.html'}
{block body}
<p>{blocktrans}<strong>Warning!</strong>: Beta service. May broke sometimes. Please report bugs to apt [AT] gatuno [DOT] mx{/blocktrans}</p>
<p><a href="{url 'DNS42_Views_Managed::agregar_master'}">{trans '➕ Add new domain'}</a></p>
<p><a href="{url 'DNS42_Views_Managed::agregar_reversa'}">{trans '➕ Add new reverse zone'}</a></p>
<p>{trans 'Active domains for this account'}</p>
<table class="domains">
	<thead><tr><th>{trans 'Domain'}</th><th>{trans 'Action'}</th></tr></thead>
	<tbody>{foreach $domains as $d}
	<tr><td>{if $d.reversa}
	<a href="{url 'DNS42_Views_Managed::administrar', array ($d.prefix)}">{$d.prefix_nice()}</a>
	{else}
	<a href="{url 'DNS42_Views_Managed::administrar', array ($d.dominio)}">{$d.dominio}</a>
	{/if}
	</td><td>{if $d.maestra && $d.owner == $user.id}{if $d.reversa}<a href="{url 'DNS42_Views_Managed::eliminar_master', array ($d.prefix)}">{else}<a href="{url 'DNS42_Views_Managed::eliminar_master', array ($d.dominio)}">{/if}{trans 'Delete domain'}</a>{/if}</tr>
	{/foreach}</tbody>
</table>
{/block}
{block extrahead}
<style type="text/css">
{literal}
.domains {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
}
.domains td, .domains th {
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
}
{/literal}
</style>
{/block}
