{extends 'dns42/base.html'}
{block body}
	<p><a href="{url 'DNS42_Views_Domains::programar_check_domain', $dominio.dominio}">{trans 'Run checks for all the nameservers in this domain'}</a></p>
	{foreach $ns as $n}{assign $server = $n.get_server ()}
	<h2>{$server.nombre}</h2>
	<p><a href="{url 'DNS42_Views_Domains::programar_check_ns', $n.id}">{trans 'Schedule check for this nameserver with this domain'}</a></p>
	{if $server.ipv4 != ''}
		<h3 class="padded">{$server.ipv4}</h3>
		<table class="test_list padded">
		<thead><tr><th>{trans 'Test'}</th><th>{trans 'Result'}</th></tr></thead>
		<tbody>
		
		<tr><td>{trans 'Parent NS match'}</td>
		{assign $klass = $n.klass_field ('parent_match4')}
		<td class="td_{$klass}">{if $n.parent_match4 == 0}{trans 'Not tested'}{elseif $n.parent_match4 == 1}{trans 'Bad'}{elseif $n.parent_match4 == 2}{trans 'Correct'}{/if}</td></tr>
		
		<tr><td>{trans 'Authoritative response from this NS'}</td>
		{assign $klass = $n.klass_field ('autoritative4')}
		<td class="td_{$klass}">{if $n.autoritative4 == 0}{trans 'Not tested'}{elseif $n.autoritative4 == 1}{trans 'Bad'}{elseif $n.autoritative4 == 2}{trans 'Correct'}{/if}</td></tr>
		
		<tr><td>{trans 'Full transfer'}</td>
		{assign $klass = $n.klass_field ('open_transfer4')}
		<td class="td_{$klass}">{if $n.open_transfer4 == 0}{trans 'Not tested'}{elseif $n.open_transfer4 == 1}{trans 'Bad. Full transfer allowed'}{elseif $n.open_transfer4 == 2}{trans 'Correct'}{/if}</td></tr>
		
		</tbody>
		</table>
	{/if}
	{if $server.ipv6 != ''}
		<h3 class="padded">{$server.ipv6}</h3>
		<table class="test_list padded">
		<thead><tr><th>{trans 'Test'}</th><th>{trans 'Result'}</th></tr></thead>
		<tbody>
		
		<tr><td>{trans 'Parent NS match'}</td>
		{assign $klass = $n.klass_field ('parent_match6')}
		<td class="td_{$klass}">{if $n.parent_match6 == 0}{trans 'Not tested'}{elseif $n.parent_match6 == 1}{trans 'Bad'}{elseif $n.parent_match6 == 2}{trans 'Correct'}{/if}</td></tr>
		
		<tr><td>{trans 'Authoritative response from this NS'}</td>
		{assign $klass = $n.klass_field ('autoritative6')}
		<td class="td_{$klass}">{if $n.autoritative6 == 0}{trans 'Not tested'}{elseif $n.autoritative6 == 1}{trans 'Bad'}{elseif $n.autoritative6 == 2}{trans 'Correct'}{/if}</td></tr>
		
		<tr><td>{trans 'Full transfer'}</td>
		{assign $klass = $n.klass_field ('open_transfer6')}
		<td class="td_{$klass}">{if $n.open_transfer6 == 0}{trans 'Not tested'}{elseif $n.open_transfer6 == 1}{trans 'Bad. Full transfer allowed'}{elseif $n.open_transfer6 == 2}{trans 'Correct'}{/if}</td></tr>
		
		</tbody>
		</table>
	{/if}
	<hr />
{/foreach}
{/block}
{block extrahead}
<style type="text/css">
{literal}
.padded {
	margin-left: 40px;	
}

.td_good {
	background-color: lightgreen;
}
.td_bad {
	background-color: lightpink;
}
.td_unknown {
	background-color: lightgray;
}
.td_warn {
	background-color: lightgoldenrodyellow;
}
.test_list {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
}
.test_list td, .test_list th {
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
}
{/literal}
</style>
{/block}
