{extends 'dns42/base.html'}
{block body}
{if $server.ipv4 != ''}<p><img src="{media '/img/ipv4_icon.png'}" title="{trans 'IPv4'}" /> {$server.ipv4}{if $server.ping4 != ''} {trans 'Ping'}: {$server.ping4}{/if}</p>{/if}
{if $server.ipv6 != ''}<p><img src="{media '/img/ipv6_icon.png'}" title="{trans 'IPv6'}" /> {$server.ipv6}{if $server.ping6 != ''} {trans 'Ping'}: {$server.ping6}{/if}</p>{/if}
<p>{trans 'Domains associated with this nameserver'}
<ul>{foreach $ns as $n}{assign $d = $n.get_dominio ()}
	<li>{$d.dominio}</li>
{/foreach}</ul>
{/block}
